//general settings
html { font-size: 62.5%; } /* =10px */
body { 
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem; /* =14px */
}

// colors
$black: #282c34;
$gray: #99999A;
$red: #C8102E;
$dark-red: #9d0c24;